@model nomina.Models.DTO.OvertimeDTO
@{
    ViewBag.Title = "CreateOvertime";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <h2>New Overtime</h2>

        <!-- Mostrar el mensaje de alerta genérico en caso de otro error -->
        @if (ViewBag.ErrorMessage != null)
        {
            <br />
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        @using (Html.BeginForm("CreateOvertime", "Overtime", FormMethod.Post, new { @class = "form" }))

        {
            <div class="form-group">
                <label>Overtime ID:</label>
                @Html.TextBoxFor(model => model.Overtime_id, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>ID:</label>
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Type Action:</label>
                @Html.TextBoxFor(model => model.Type_action, new { @class = "form-control" })
            </div>
           

            <div class="form-group">
                <label>Description:</label>
                @Html.TextBoxFor(model => model.Overtime_description, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        }


    </div>

</body>
</html>

