@model nomina.Models.DTO.UserDTO

@{
    ViewBag.Title = "Delete User";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h2>Delete User</h2>

    <p>Are you sure you want to delete the record??</p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Email</td>
            </tr>
        </thead>
    </table>

    @using (Html.BeginForm("Delete", "User", new { id = Model.Id }, FormMethod.Post, new { id = "deleteForm" }))
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    }

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#deleteForm').submit(function () {
                    return confirm("Are you sure you want to delete the record?");
                });
            });
        </script>
    }
</body>
</html>

